body{
  font-family: Arial, sans-serif;
 background: 
  rgba(21, 64, 165, 0.99),
  rgba(177, 13, 13, 0.8);

}
.container{
  width: 350px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
label{
  display: block;
  margin-top: 10px;
}
input,select,button{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}