body{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1649c2, #ff4d4d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 }
.container{
  width: 350px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
label{
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input,select{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
button{
  margin-top: 15px;
  background: #6b5cff;
  color: white;
  border: none;
  cursor: pointer;
}
h3{
  margin-top: 20px;
  color: green;
}