body{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1649c2, #ff4d4d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
 }
.container{
  width: 500px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
label{
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input,select{
  width: 100%;
  height: 45px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}
button{
  margin-top: 15px;
  background: #6b5cff;
  color: white;
  border: none;
  cursor: pointer;
}
h3{
  text-align: center;
  margin-bottom: 15px;
}
button{
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: linear-gradient(to rigth, #1649c2,#ff4d4d);
  color: white;
  cursor: pointer;  
  font-weight: bold;
}
button:hover{
  opacity: 0.9;
}
#result{
  margin: 20px;
  padding: 10px;
  background: #f2f2f2;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.6;
}
#roomimage{
  width: 100%;
  height: 110px;
  border-radius: 8px;
  align-items: center;
  display: none;
}
.room{
  border:1px solid #ccc;
  padding:10px;
  margin:10px;
  border-radius:8px;
}
