body{
  font-family: Arial, sans-serif;
 background: #d2d2d2;
 

}
.container{
  width: 350px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
label{
  display: block;
  margin-top: 10px;
}
input,select,button{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button{
  margin-top: 15px;
  background: #6b5cff;
  color: white;
  border: none;
  cursor: pointer;
}
h3{
  margin-top: 20px;
  color: green;
}