body{
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  height: 100vh;
 }

 header{
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #2c2c2c;
  color: white;
 }

 .book-btn{
  background: #00bfa6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 120px;
  height: 40px;
 }
 .container{
  max-width:400px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

 }

label{
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input,select{
  width: 100%;
  height: 45px;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.preview{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}
/* h3{
  text-align: center;
  margin-bottom: 15px;
} */
button{
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  background-color: #258bf1;
  cursor: pointer;  
  font-weight: bold;
}
button:hover{
  opacity: 0.9;
}
#result{
  margin: 20px;
  padding: 10px;
  background: #f2f2f2;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.6;
  background-color: #258bf1;
  color: white;
}
#roomimage{
  width: 100%;
  height: 110px;
  border-radius: 8px;
  align-items: center;
  display: none;
}
.room{
  border:1px solid #ccc;
  padding:10px;
  margin:10px;
  border-radius:8px;
}
